body{
  font-family: Roboto !important;
}
button {
  font-size: calc(10px + 2vmin);
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
h1,h2,h3,h4,h5,h6{
  font-size: initial !important;
  font-weight: initial;

}
